doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Custom Object Data
    if data && data.length > 0
      table
        thead
          tr
            th Name
            th Brand Name
            th Model
        tbody
          each obj in data
            tr
              td= obj.properties.name
              td= obj.properties.brand_name
              td= obj.properties.model
    else
      p No custom object data available.
