extends layout

block content
  h1 Custom Object Data
  table
    thead
      tr
        th Name
        th Brand Name
        th Model
    tbody
      each record in data
        tr
          td= record.name
          td= record.brand_name
          td= record.model
  br
  a(href="/update-cobj") Add to this table
